footer {
    background-color: var(--secondaryColour);
    height: 10em;

    color:  var(--fontSecondaryColour);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}