:root {
    --movieSize: 400px;
}

::-webkit-scrollbar{
    width: 0.8rem;
    background: var(--secondaryColour);
}

::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 1rem;
}


body {
    background-color: var(--mainColour);
}

header {
    width: 100%;
    height: 50vh;
    background-color:darkblue;
    color: var(--fontSecondaryColour);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    border-bottom: 0.1em solid orange;
}

.center-content {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.center-content > div {
    display: grid;
    grid-template-columns: 20vw 21vw;
}

.center-content img {
    width: 20vw;
}

.movie-content {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: var(--mainColour);
    color: var(--fontColour);
    padding: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.movie-poster {
    width: 20vw;
    border: 1em solid var(--mainColour);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: var(--mainColour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotbar {
    margin-block: 5vh;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.hotbar div {
    margin-inline: 3vw;
    height: 100%;
    width: 100%;
}

.hotbar button {
    width: 100%;
    height: 100%;
    font-size: 200%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--fontColour);
    transition: 0.3s;
}

.hotbar button:hover {
    background-color: rgba(255, 166, 0, 0.8);
}

.movies-container {
    margin-inline: 2em;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap:calc(20% / 3);
}

.movie {
    outline: none;
    z-index: 2;
    outline: 1px solid green;
    height: 50vh;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
}

.movie:hover {
    outline: none;
    box-shadow: 0em 0em 2em black;
    transform: scale(110%);
}

.page-control {
    margin-inline: 2em;
    margin-bottom: 5vh;
    font-size: 200%;
    color: var(--fontColour);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.page-control p {
    margin-inline: 2em;
}

.page-control button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--fontColour);
    font-size: 70%;
    border: none;
    border-radius: 100%;
    height: 10vh;
    width: 10vh;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-control button:hover {
    background-color: rgba(255, 166, 0, 0.8);
    box-shadow: 0em 0em 1em var(--fontColour);
}