nav {
    position: sticky;
    height: var(--navHeight);
    max-height: var(--navHeight);
    top: 0px;
    background-color: var(--secondaryColour);
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

nav h2 {
    font-weight: 200;
    color: white;
}

.nav-btn {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-btn2 {
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn3 {
    display: flex;
    justify-content: right;
    align-items: center;
}

/* * Styl dla elementu menu */
.div-menu {
    position: fixed;
    top: -3px;
    left: 0px;
    width: 15vw;
    visibility: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.menu.open {
    transform: translateX(0);
}

/* Styl dla przycisków wewnątrz menu */
.menu button {
    font-size: 160%;
    color: var(--fontSecondaryColour);
    text-align: left;
    border: none;
    border-bottom: 0.1em solid orange;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    transition: 0.3s;
}

.menu button:hover {
    border-bottom: 0.1em solid rgba(0, 0, 0, 0);
    background-color: rgb(255, 165, 0, 0.8);
}

/* * reszta przycisków */
.menu-btn,
.theme-btn,
.login-btn,
.back-btn {
    margin: 0.5em;
    border: none;
    border-bottom: 0.1em solid var(--secondaryColour);
    border-radius: 0.5em;
    background-color: var(--secondaryColour);
    font-size: 200%;
    color: var(--fontSecondaryColour);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.menu-btn:hover,
.theme-btn:hover,
.login-btn:hover,
.back-btn:hover {
    border-bottom: 0.1em solid orange;
    box-shadow: 0em 0em 0.5em white;
}

/* * Styl dla miniprofilu */
.div-profile {
    position: fixed;
    right: 0px;
    top: var(--navHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    color: var(--fontSecondaryColour);
    text-align: center;
    font-size: 110%;
    position: relative;
    width: 21vw;
    height: 20vh;
    border-bottom-left-radius: 1em;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile.open {
    transform: translateX(0);
}

.profile button {
    font-size: 110%;
    width: 7em;
    padding: 0.5em;
    background-color: orange;
    border: none;
    transition: 0.3s;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile button:hover {
    box-shadow: 0em 0em 0.8em white;
}

.profile div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
}