/* * Header */

header {
    height: 80vh;

    font-size: 300%;
    color: var(--fontColour);

    /* background-image: url("https://gazetacodzienna.pl/sites/default/files/imagecache/full_scr_watermark/5947_g_0_0.jpg"); */
    /* background-image: url("https://wallpapercave.com/wp/wp2081265.jpg"); */
    /* background-image: url("https://images.pexels.com/photos/7513412/pexels-photo-7513412.jpeg"); */
    background-image: url("./Assets/cinema.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title-screen {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 0.5em solid rgb(255, 166, 0);
    /* backdrop-filter: blur(0.1em); */
    height: 50%;
    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-screen a {
    color: var(--fontSecondaryColour);
}

/* .title-screen p {
    position: relative;
    bottom: -1em;
} */

/* * Main */

img {
    width: 100%;
}

.div-menu {
    position: relative;
    left: 0;
}

.div-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 2em;

    padding: 1em;

    background-color: var(--mainColour);
}

.div-left,
.div-right {
    color: rgb(156, 156, 156);
    font-size: 130%;
    border-bottom: 0.5em solid rgba(255, 166, 0, 0.300);
    box-shadow: 0em 0em 0.2em rgb(0, 0, 0);
    padding: 2%;
    margin-top: 5em;
    transition-duration: 0.3s;
}

/* .div-left {
    display: grid;
    grid-template-columns: 70% 30%;
}

.div-right {
    display: grid;
    grid-template-columns: 30% 70%;
} */

.div-left p {
    text-align: left;
}
.div-right p {
    text-align: right;
}
.div-left h3, .div-right h3 {
    text-align: center;
}

.div-left:hover,
.div-right:hover {
    color: var(--fontColour);
    box-shadow: 0em 0em 1em rgb(0, 0, 0);
    border-bottom: 0.5em solid orange;
}

.div-left div,
.div-right div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
