@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;600&display=swap');

[data-theme="dark"] {
    --mainColour: rgb(63, 63, 63) !important;
    --fontColour: rgb(255, 255, 255) !important;
}
[data-theme="light"] {
    --mainColour: rgb(255, 255, 255) !important;
    --fontColour: rgb(0, 0, 0) !important;
}
:root {
    --mainColour: rgb(63, 63, 63);
    --secondaryColour: rgb(0, 0, 0);
    --fontColour: rgb(255, 255, 255);
    --fontSecondaryColour: rgb(255, 255, 255);
    --navHeight: 6em;
    --navElmHeight: 90%;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Prompt', sans-serif;
}

body {
    background-color: var(--secondaryColour);
}

button {
    cursor: pointer;
}